@import "_ref.less";

#canvas {
  display: block;
  margin: 10pt auto;
}

#currString, #rules {
  .well;

  padding: 5px 9px;
  overflow-x: auto;
  white-space: nowrap;
  font-family: monospace;
}

.footer {
  margin-top: 20pt;
  border-top: @brand-primary 1px solid;
  padding-top: 10pt;
}

kbd {
  display: inline-block;
  padding: 1px 5px;
  font-size: 11px;
  color: #555;
  vertical-align: middle;
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}
