//-
    Created by Daniel Beckwith on 9/6/15.

include mixins

doctype
html
    head
        title L-Systems
        link(rel="stylesheet" href="css/index.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js")
        script(src="js/lsystems.js")
    body
        <a href="https://github.com/dbeckwith/lsystems" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        .container
            h1.title L-Systems
            canvas#canvas(width="640" height="480")
            h5
                | Current string:&nbsp;
                div.btn-group
                    button.btn.btn-default.btn-sm#prevStringButton(type="button") #[+glyphicon("chevron-left")] Prev
                    button.btn.btn-default.btn-sm#nextStringButton(type="button") Next #[+glyphicon("chevron-right")]
            #currString
            h5
                | Rules:&nbsp;
                button.btn.btn-default.btn-sm#editRulesButton(type="button") Edit
            ul.list-unstyled#rulesList
            .modal.fade#editRulesModal(tabindex="-1")
                .modal-dialog
                    .modal-content
                        .modal-header
                            button.close(type="button" data-dismiss="modal") &times;
                            h4.modal-title Edit Rules
                        .modal-body
                            form.form-inline#editForm
                                | Start string: #[input.form-control#startString(type="text")]
                                ul.list-unstyled#rulesEditList
                        .modal-footer
                            button.btn.btn-default(data-dismiss="modal") Cancel
                            button.btn.btn-primary#applyRulesButton Apply
            h2 Help
            h3 Controls
            ul
                li LMB-drag to rotate
                li RMB-drag to pan
                li scroll to zoom
                li <kbd>=</kbd> to generate the next string
                li <kbd>-</kbd> to go back a string
            h3 What Are L-Systems?
            a(href="https://en.wikipedia.org/wiki/L-system" target="_blank") Wikipedia
            .footer.
                &copy; 2015 <a href="mailto:djbsnx@gmail.com" target="_blank">Daniel Beckwith</a>
