//-
    Created by Daniel Beckwith on 9/6/15.

doctype
html
    head
        title L-Systems
        link(rel="stylesheet" href="css/index.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js")
        script(src="js/lsystems.js")
    body
        .container
            canvas#canvas(width="640" height="480")
            #currString
            .footer.
                &copy; 2015 <a href="mailto:djbsnx@gmail.com">Daniel Beckwith</a>
